/* HTML Elements Section */
body{
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

p{
  color: #8f8f8f;
}

 /* HEADINGS SECTION  */

 .big-heading {
   font-size: 3.5rem;
   line-height: 1.5;
 }

 .section-heading {
   font-size: 3rem;
   line-height: 1.5;
 }

.card-heading {
  font-size: 1.5rem;
}

/* .cta-heading {
  font-size: 3rem;
  line-height: 1.5;
} */
/* cta heading same a s big heading */

/* h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  The above features must be class specific instead of headings
  headings shoul have only styling like font-family and font-weight
  font-family: "Montserrat";
  font-weight: 900;
} */

/* h2 {

  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
} */

/* h3{
  padding-top: 5%;
  font-size: 1.5rem;
  font-weight: 900;
} */

/* Container Section */
.container-fluid {
  padding: 7% 15%;
}

/* SELECTOR Section */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* Navigation Bar*/
/*Styling already styled class for title section only */
#title .container-fluid {
  padding: 3% 15% 5.5%;
  text-align: left;
}

.navbar {
  padding:0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat-light;
}

/* Title Section */

/* #title{
  text-align: left;
} */
/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}
/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}
/* Media Query */
@media (max-width:1200px){
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title .container-fluid{
    text-align: center;
  }

}


/* Feature Section */

#features{
  position: relative;
  /* z-index: 1; */
  /* By default z-index increases as we go down so, no need to specify z-index */
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box{
  padding: 5%;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
  /* ID more specific then class */
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}


/* Press Section */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* Footer Section */

.footer-logo {
  padding: 1%;
}
